/*
 * The chat 
 */

section#chat {
    margin: 0.5em 0 0 0;
}

section#chat article {
    clear: both;
    position: relative;
    width: 100%;
    text-align: left;
    padding-top: 1em;
}
section#chat article > div {
    float: left;
    display: inline-block;
}

section#chat article .avatar {
    position:relative;
    overflow:hidden;
    background: black;
    width:3em;
    height:3em;
    margin: 0 1em 0 0;
    border: 0.2rem solid white;
    border-radius: 0.2em;
}
section#chat article .avatar img {
    width: 100%;
}

section#chat article .message {
    position: relative;
    min-width: 30%;
    max-width: 60%;
    min-height: 2em;
    background: white;
    border-radius: 0.4em;
    padding: 0.2em;
    font-size: 0.8em;
}
section#chat article .message > div {
}
section#chat article .message > div > h2 {
    margin:0;
    padding: 0.4em 0.4em 0.2em 0.4em;
    font-size: 1em;
}
section#chat article .message > div > p {
    padding: 0.2em 0.4em 0.4em 0.4em;
}
section#chat article .message > div:after {
    content: "";
    position: absolute;
    top: 1em;
    right: 100%;
    border-width: 1em 0 0 1em;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}
section#chat article .message img {
    width: 100%;
}

section#chat article.you {
    text-align: right;
}
section#chat article.you > div {
    float: right;
}
section#chat article.you .avatar {
    margin: 0 0 0 1em;
}
section#chat article.you .message {
}
section#chat article.you .message > div:after {
    right: auto;
    left: 100%;
    border-width: 0 1em 1em 0;
}

/* This element is used as anchor for the chat */
#bottom {
    clear: both;
}
