/*
 * The header 
 */

.container > header {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1em;
    margin: 1em 1em 0 1em;
    padding: 0;
}

.container > header > * {
}

.container > header h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: white;
}
