/*
 * SHAPES 
 */

/* Battery */

.battery {
    position: relative;
    width: 2em;
    height: 1em;
    background: azure;
    border: 0.1em solid black;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    top: 0.25em;
}
.battery:before {
    content: "";
    position: absolute;
    left: 2em;
    top: 0.2em;
    width: 0.15em;
    height: 0.4em;
    background: azure;
    border: 0.1em solid black;
    border-radius: 0 0.1em 0.1em 0;
}
.battery .power {
    position: absolute;
    z-index: 2;
    left: 0.05em;
    top: 0.05em;
    right: 0.05em;
    bottom: 0.05em;
    background: azure;
    border-radius: 0.1em;
}
.battery .level{
    position: absolute;
    top: 0;
    left: 0;
    right: 80%; /* this property will be changed via javascript */
    bottom:0;
    background: blue;
    border-radius: 0.1em;
}
.battery .low.level{
    background: red;
}
.battery .medium.level{
    background: yellow;
}
.battery .high.level{
    background: darkblue;
}


/* Avatar (You) */

.you .avatar .face {
    width: 1.6em;
    height: 1.6em;
    background: yellowgreen;
    border-radius: 0.8em;
    margin: 0.2em 0 0.1em 0.7em;
}
.you .avatar .body {
    width: 80%;
    height: 1em;
    background: yellowgreen;
    margin-left: 10%;
}


/* Camera */

.camera {
    position: absolute;
    top: 0.8em;
    left: 0.5em;
    width: 1.6em;
    height: 1em;
    background: white;
    border-radius: 0.1em 0.1em 0.1em 0.1em;
}
.camera:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.2em;
    width: 1em;
    height: 0.2em;
    margin: 0 auto;
    background: white;
    border-radius: 0.1em 0.1em 0 0;
}
.camera .lens{
    position: relative;
    top: -0.1em;
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    font-size: 1.25em;
    background: white;
    border: 0.1em solid #23538a;
    border-radius: 0.35em;
}


/* Phone */

#phone {
    background-color: white;
    width: 0.3em;
    transform: rotate(-30deg);
    margin-top: 0.5em;
    margin-left: 0.7em;
    border-top-left-radius: 50%;
    border-left-width: 0.3em;
    border-left-color: white;
    border-left-style: solid;
    border-bottom-left-radius: 50%;
}

#phone .top {
    width: 0.8em;
    height: 0.55em;
    background-color: white;
    border-radius: 30% 0 0 0;
}
#phone .trunk {
    height: 0.8em;
}
#phone .bottom {
    width: 0.8em;
    height: 0.55em;
    background-color: white;
    border-radius: 0 0 0 30%;
}
